<!-- footer -->
<!-- copyright bar at the bottom of the page -->
        <footer>
            <nav class="bottom-bar">
                <small>Copyright &copy; 2020 Jay Ganguli</small>
            </nav>
        </footer> 
    
    <!-- scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>