
<!-- this navbar is built from the sample code provided on getbootstrap.com, with some minor tweaks mentioned below -->
<nav class="navbar myNav navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="images/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">Jay Ganguli's Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <!-- ejs if statement checks the title of the page and sets the 'active' highlighting classes accordingly. Highlights the page we are on -->
        <li class="nav-item <%if (title=='Home') {%>active myActive<% } %>">
          <a class="nav-link" href="/"><i class="fas fa-laptop-house"></i>Home</a>
        </li>

        <li class="nav-item <%if (title=='About Me') {%>active myActive<% } %>">
            <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i>About Me</a>
        </li>

        <li class="nav-item <%if (title=='My Projects') {%>active myActive<% } %>">
            <a class="nav-link" href="/projects"><i class="fas fa-code"></i>Projects</a>
        </li>

        <li class="nav-item <%if (title=='My Services') {%>active myActive<% } %>">
            <a class="nav-link" href="/services"><i class="fas fa-cogs"></i>Services</a>
        </li>

        <li class="nav-item <%if (title=='Contact Me') {%>active myActive<% } %>">
            <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i>Contact Me</a>
        </li>

        <li class="nav-item <%if (title=='Login') {%>active myActive<% } %>">
            <a class="nav-link" href="/login"><i class="fas fa-envelope"></i>Contact Me</a>
        </li>

    </div>
  </nav>