<!-- About Me page  -->
<%- include partials/header.ejs %>

<%- include partials/navigation.ejs %>

        <!-- page body -->
        <div class="content">
            <h1><%= title %></h1>
            <img class="profile-img" src="images/IMG_0468.JPG" alt="selfie_jpg">
            <h3>My name is Jay Ganguli</h3>
            <p>I am a bilingual Canadian and an aspiring game developer, currently studying at Centennial College (my student # is 301164583).</p>
            <p>I have a bachelor's degree in Computer Science from the University of Toronto, and am always trying to learn new things from various fields in arts and science.</p>
            <p>I am a hobbyist with experience in 3D modelling, 2D animation, game programming, information security, algorithm analysis and more.
                You can find a list of things I have or currently am working on in my <a href"/projects">Projects page</a>.</p>
            <p>You can find a copy of my resume <a href="https://drive.google.com/file/d/1RFDg_tr8wpM2yUWCZxxVvQTVEO4RfrT2/view?usp=sharing">here</a>.</p>
        </div>

<%- include partials/footer.ejs %>