/*  app.css
    Written by Jay Ganguli
    Student #: 301164583
    Date: 2020-10-08
*/
body {
    margin:0;
}
/* =======================
        navigaiton bar
   ======================= */
.navbar{
    background-color: #333;
    top: 3px;
    left: 3px;
    right: 3px;
    border-radius: 5px;
    position: fixed;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
}
.navbar li {
    float: left;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
}
.navbar li a {
    display: block;
    padding: 15px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #555;
}
.navbar li:last-child {
    border-right: none;
    border-left: none;
}
.active {
    background-color: #4caf50;
    color: white;
}
.navbar img {
    display: block;
    max-height: 50px;
}
/* ============================
        bottom bar styles 
   ============================ */
.bottom-bar {
    background-color: #dbdbdb;
    bottom: 0;
    width: 100%;
    padding: 5px;
    position: fixed;
}
/* ============================
          Content Style
   ============================ */
.content {
    margin: 5%;
}