<!-- My Projects page  -->
<%- include partials/header.ejs %>

<%- include partials/navigation.ejs %>

        <!-- page body -->
        <div class="content">
            <h1><%= title %></h1>
            <p>I'm currently doing game design. My school projects (such as this site) are on-going
                and my out-of-school project is under NDA, so here's some animated gifs of some small concept/practice projects I've done:</p>
            <div>
                <img class="project-img" src="images/2020-05-25-21-54-48.gif" alt="game_parallax_gif">
                <h2>General Game Programming</h2>
                <p>I make a lot of small games on my own whenever I want to experiment. These projects are my own personal experiments, and their goals are
                    to develop an understanding of certain concepts. I mostly work in Monogame/XNA and build from structures from scratch in C#. As a result,
                     I've learned different techniques for collision detection, pathfinding algorithms, shaders and networking.</p>
            </div>
            <div style="overflow:hidden">
                <img class="project-img" src="images/exomuta_menu.gif" alt="space_menu">
                <h2>Design</h2>
                <p>I enjoy making user interfaces and general arts and assets. My focus is more on pixel and low-res graphics,
                    but I'm experienced with cell-shaded styles (2D and 3D) and am always learning more techniques. My current project is focused on level design.
                    I work for a team, taking in the artistic vision of our game director, and translating it into concrete level layouts and strucutres that our programmers
                    can implement. I'm under NDA, so here's a gif of a small menu I made for an unrelated project.</p>
            </div>
            <div style="overflow:hidden">
                <img class="project-img" src="images/iterator.gif" alt="math_simulation">
                <h2>Algorithms and Simulation</h2>
                <p>I barely passed my math courses, but I still managed to get a Minor in Mathematics at the University of Toronto and still to this day say that I love math.
                    This small simulator of iterating over functions is an example of the things I love about math. Another personal project of mine, It is a demonstration
                    of the chaotic yet strangely aesthetic motion you can obtain from pluging a system's output back into itself over time. This project also attempts
                    to analyze the amount of visible motion on screen using different approaches with different optimizations to automatically control the passage of time
                    in the simulation and provide the best viewing experience.
                </p>
                <p>[GITHUB LINK COMING SOON]</p>
            </div>
            <div>
                <h2>Webdev</h2>
                <p>This website is another one of my projects (for Centennial College) and my first step into web development. I hope to improve it more as I go!</p>
            </div>
        </div>

<%- include partials/footer.ejs %>