/*  app.css
    Written by Jay Ganguli
    Student #: 301164583
    Date: 2020-10-08
*/
body {
    margin:0;
    background-color: #ffcf91;
}
/* =======================
        navigaiton bar
   ======================= */
/* my old navbar css
.navbar{
    background-color: #333;
    top: 3px;
    left: 3px;
    right: 3px;
    border-radius: 5px;
    position: fixed;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
}
.navbar li {
    float: left;
    border-right: 1px solid #636363;
    border-left: 1px solid #636363;
}
.navbar li a {
    display: block;
    padding: 25px 26px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #555;
}
.navbar li:last-child {
    border-right: none;
    border-left: none;
}
.navbar img {
    display: block;
    max-height: 70px;
}
*/
/*
overloads for the bootstrap navbar
*/
.myNav {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}
.navbar li a:hover {
    background-color: #555;
}
/* refer to navigation.ejs for this one */
.myActive {
    background-color: #4caf50;
    color: white;
}
/* ============================
        bottom bar styles 
   ============================ */
.bottom-bar {
    background-color: #1d1d1d;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
}
/* ============================
          Content Style
   ============================ */
.content {
    margin: 2%;
    font-family: Arial;
    border-radius: 15px;
    padding: 5%;
    background-color: #f7f4f1;
    overflow: hidden;
}
.content h1 {
    text-align: center;
}
/* img class for the projects page specifically */
.project-img {
    padding: 30px;
    max-width: 30%;
    float: right;
}
.profile-img {
    padding: 30px;
    max-width: 25%;
    float: left;
}