/*  app.css
    Written by Jay Ganguli
    Student #: 301164583
    Date: 2020-10-08
*/
body {
    margin:0;
    background-color: #ffcf91;
}
/*
overloads for the bootstrap navbar
*/
.myNav {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}
.navbar li a:hover {
    background-color: #555;
}
/* refer to navigation.ejs for this one */
.myActive {
    background-color: #4caf50;
    color: white;
}
/* ============================
        bottom bar styles 
   ============================ */
.bottom-bar {
    background-color: #1d1d1d;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
}
/* ============================
          Content Style
   ============================ */
.content {
    margin: 2%;
    font-family: Arial;
    border-radius: 15px;
    padding: 5%;
    background-color: #f7f4f1;
    overflow: hidden;
}
.content h1 {
    text-align: center;
}
/* img class for the projects page specifically */
.project-img {
    padding: 30px;
    max-width: 30%;
    float: right;
}
.profile-img {
    padding: 30px;
    max-width: 25%;
    float: left;
}