<!-- Home page  -->
<%- include partials/header.ejs %>

<%- include partials/navigation.ejs %>

        <!-- page body -->
        <div class="content">
            <h1><%= title %></h1>
            <h2>Welcome to my portfolio!</h2>
            <p>My name is Jay Ganguli</p>
            <p>As a programmer, I aim to provide high quality software.
                As an artist, and as someone who grew up playing many different games,
                I aim to entertain, promote positivity, and inspire creativity.
                </p>
            <p>Learn more <a href="/about">about me</a>.</p>
        </div>

<%- include partials/footer.ejs %>