<!-- Services page  -->
<%- include partials/header.ejs %>

<%- include partials/navigation.ejs %>

        <!-- page body -->
        <div class="content">
            <h1><%= title %></h1>
            <div>
                <h2>General Programming</h2>
                <p>I'm good at problem solving, math, and algorithm implementation. I have experience with gaming-specific concepts
                    and writing scripts for games. Having studied information security also means I'm constantly on the lookout for
                    general security vulnerabilities in my code.
                </p>
            </div>
            <div>
                <h2>Web Application Development</h2>
                <p>Currently learning the MEAN stack. Have experience with SQL.</p>
            </div>
        </div>

<%- include partials/footer.ejs %>